@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@300&family=Raleway:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: kanit, sans-serif;
    font-weight: 500px;


}

#main-image {
    background-image: url(../images/beach1\ compr.webp);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: auto;
    background-attachment: scroll;

}



/* header, logo and navigations links */



#logo {

    float: left;
    margin: 30px 30px;
    font-size: 50px;
    color: black;
}

#logo a {
    text-decoration: none
}

#logo:hover {
    color: rgb(20, 201, 20);
}



#navigation {
    float: right;
    margin: 30px 30px;
    font-size: 20px;

}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation>li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#logo,
#navigation {
    line-height: 50px;
}

#navigation a:hover {
    border-bottom: 2px solid black;
    color: rgb(20, 201, 20);
}

/* section */

main {
    text-align: center;
    padding-top: 200px;
    margin-bottom: 40px;
}

#first-section {
    padding-bottom: 30px;

}

#second-section {
    padding-bottom: 30px;
}

#third-section {
    padding-bottom: 30px;
}

#first-section h2,
#second-section h2,
#third-section h2 {
    text-decoration: underline;
    text-shadow: 1px 1px;
}


/* footer */
#contact {
    padding-bottom: 10px;
    padding-left: 45%;
}

#contact h2 {
    text-decoration: underline;
}

#contact p {
    font-weight: bold;
}

iframe {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 0;
    margin-bottom: 30px;
}

footer {
    height: 100px;
}

.social-media {
    text-align: center;
    font-size: 30px;
}

.social-media li {
    display: inline;
}

.social-media i {
    padding: 60px
}

/* gallery page */

#gallery-image {
    background-image: url(../images/sand1.jpg);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
    background-attachment: scroll;
}

/* booking page */

#booking-image {
    background-image: url(../images/water1.jpg);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
    background-attachment: scroll;
}

#reservation {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* form feedback */

#feedback {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 3%;
}