@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@300&family=Raleway:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: kanit, sans-serif;
}

h1,
h2 {
    font-family: raleway, sans-serif;
}

#main-image {
    background-image: url(../images/beach1\ compr\ \(1\).webp);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
    background-attachment: fixed;

}

/* header */

header {
    height: 150px;
    background-color: rgb(236, 221, 221);
}

/* logo */

#logo {
    float: left;
    margin: 30px 30px;
    font-size: 50px;
    color: black;
    line-height: 50px;
}

#logo a {
    text-decoration: none;
}

#logo:hover {
    color: rgb(11, 164, 210);
}

/* navigation */

#navigation {
    float: right;
    margin: 30px 30px;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 50px;
    margin-top: 50px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation>li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#navigation a:hover {
    border-bottom: 2px solid black;
    color: rgb(11, 164, 210);
}

/* main page section */

main {
    height: 700px;
    margin-top: 150px;
    margin-bottom: 90px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(236, 221, 221);
}

.text,
#list {
    text-align: center;
    font-weight: 900;
    list-style-type: none;
}

#first-section {
    padding-bottom: 30px;
    padding-top: 30px;
}

#second-section {
    padding-bottom: 30px;
}

#third-section {
    padding-bottom: 30px;
}

#first-section h2,
#second-section h2,
#third-section h2 {
    text-decoration: underline;
    text-shadow: 1px 1px;
    text-align: center;

    background-color: rgb(11, 164, 210);
}

/* audio */

#audio {
    margin-left: 0%;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    background-color: rgb(11, 164, 210);
    margin-left: 33%;
    margin-right: 33%;
}

#audiofile {
    padding-top: 5px;
}



/* footer */

footer {
    height: 100%;
    width: 100%;
    position: static;
    text-align: center;
}



#contact {
    width: 33%;
    height: 33%;
    text-align: center;
    margin: 5% auto;
    position: static;
    border: 1px solid black;
    background-color: blanchedalmond;
    padding-bottom: 0;

}

#contact h2 {
    text-decoration: underline;
}

#contact p {
    font-weight: bolder;
}


iframe {
    height: 300px;
    margin: 5% 10% 5% 10%;

}



.social-media {
    height: 33%;
    text-align: center;
    font-size: 30px;
}

.social-media li {
    display: inline;
}

.social-media i {
    padding: 80px
}

.fa-facebook {
    color: #1066f9;
}

.fa-instagram {
    color: #ec22ac;
}

.fa-youtube {
    color: #f51919;
}

/* gallery page */

#gallery-image {
    background-image: url(../images/sand1.jpg);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
    background-attachment: fixed;
}

#photos {
    display: inline;
    float: left;
    clear: both;
    margin-top: 30px;
    margin-bottom: 100px;

}

#photos img {
    width: 33%;
    height: 40%;
}

#photos h2 {
    font-weight: bold;
    text-decoration: underline;
}

/* booking page */

#booking-image {
    background-image: url(../images/water1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

form {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 300;

}

#form-section {
    padding: 5% 10% 0 10%;
    margin-bottom: 100px;
}

form h2 {
    font-weight: bolder;
    text-decoration: underline;
}

input[type=text],
input[type=email],
input[select=adults],
input[select=kids],
input[select=pets],
input[type=radio] {
    height: 20px;
    width: 40%;
    margin: 0 auto;
    display: block;
}

#select {
    display: block;
}

#radio {
    width: 100%;
}

#reservation {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
}


#request-button {
    margin-top: 20px;
    margin-left: 38%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-size: 100%;
    display: block;
    text-align: center;
    color: black;
    border: none;
    background-color: rgb(236, 73, 95);
    padding: 10px 15px 10px 15px;
    font-weight: 600;
}

.request-button:hover {
    background-color: black;
    color: rgb(236, 73, 95);
}

/* form feedback */

#feedback {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: rgb(236, 73, 95);
    font-size: xx-large;
}


/* media queries */


/* For small screens sizes from 800px wide and down */

@media screen and (max-width: 800px) {}




/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {}




/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {}